<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-muted text-capitalize">One two three</h3>

    <hr>

    <div class="display-1">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">Third</div>

    <hr>

    <div class="text-end">
        <span>Основний текст</span>
        <span class="text-muted">Додатковий текст</span>
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>
    </button>

    <hr>

    <p class="text-primary">My text 1</p>
    <p class="text-success">My text 2</p>
    <p class="text-danger">My text 3</p>
    <p class="text-warning">My text 4</p>
    <p class="text-light">My text 5 <span class="text-info">- тут є текст</span></p>
    <p class="text-dark">My text 6</p>

    <hr>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary btn-lg">Додати</button>
            <button class="btn btn-outline-warning">Редагувати</button>
            <button class="btn btn-outline-danger btn-sm">Видалити</button>
        </div>
    </div>

    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>