{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="pt-5">
    <h3>Список сторінок</h3>

    <p>Тут буде інформація про мій проєкт..</p>

    <div class="my-1">
        <a href="http://localhost:3000/bio" type="button" class="btn btn-primary">Bio</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/bootstrap" type="button" class="btn btn-primary">Bootstrap</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/car" type="button" class="btn btn-primary">Car</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/education" type="button" class="btn btn-primary">Education</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/facebook" type="button" class="btn btn-primary">Facebook</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/js" type="button" class="btn btn-primary">JS</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/mac" type="button" class="btn btn-primary">Mac</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/person" type="button" class="btn btn-primary">Person</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/program" type="button" class="btn btn-primary">Program</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/shopcart" type="button" class="btn btn-primary">Shopcart</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/shopcatalog" type="button" class="btn btn-primary">Shopcatalog</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/shophome" type="button" class="btn btn-primary">Shophome</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/shoporder" type="button" class="btn btn-primary">Shoporder</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/shopprofile" type="button" class="btn btn-primary">Shopprofile</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/shopreview" type="button" class="btn btn-primary">Shopreview</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/skills" type="button" class="btn btn-primary">Skills</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/summary" type="button" class="btn btn-primary">Summary</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/task21" type="button" class="btn btn-primary">Task21</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/task22" type="button" class="btn btn-primary">Task22</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/task31" type="button" class="btn btn-primary">Task31</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/web" type="button" class="btn btn-primary">Web</a>
    </div>

    <div class="my-1">
        <a href="http://localhost:3000/work" type="button" class="btn btn-primary">Work</a>
    </div>

</div>

{{!-- Цей код містить лише те, що буде виводитись в

<body> --}}