{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="pt-5">
    <h3>Список сторінок</h3>

    <p>Тут буде інформація про мій проєкт..</p>

    <div class="my-1">
        <a href="/bio" type="button" class="btn btn-primary">Bio</a>
    </div>

    <div class="my-1">
        <a href="/bootstrap" type="button" class="btn btn-primary">Bootstrap</a>
    </div>

    <div class="my-1">
        <a href="/car" type="button" class="btn btn-primary">Car</a>
    </div>

    <div class="my-1">
        <a href="/education" type="button" class="btn btn-primary">Education</a>
    </div>

    <div class="my-1">
        <a href="/facebook" type="button" class="btn btn-primary">Facebook</a>
    </div>

    <div class="my-1">
        <a href="/js" type="button" class="btn btn-primary">JS</a>
    </div>

    <div class="my-1">
        <a href="/mac" type="button" class="btn btn-primary">Mac</a>
    </div>

    <div class="my-1">
        <a href="/person" type="button" class="btn btn-primary">Person</a>
    </div>

    <div class="my-1">
        <a href="/program" type="button" class="btn btn-primary">Program</a>
    </div>

    <div class="my-1">
        <a href="/shopcart" type="button" class="btn btn-primary">Shopcart</a>
    </div>

    <div class="my-1">
        <a href="/shopcatalog" type="button" class="btn btn-primary">Shopcatalog</a>
    </div>

    <div class="my-1">
        <a href="/shophome" type="button" class="btn btn-primary">Shophome</a>
    </div>

    <div class="my-1">
        <a href="/shoporder" type="button" class="btn btn-primary">Shoporder</a>
    </div>

    <div class="my-1">
        <a href="/shopprofile" type="button" class="btn btn-primary">Shopprofile</a>
    </div>

    <div class="my-1">
        <a href="/shopreview" type="button" class="btn btn-primary">Shopreview</a>
    </div>

    <div class="my-1">
        <a href="/skills" type="button" class="btn btn-primary">Skills</a>
    </div>

    <div class="my-1">
        <a href="/summary" type="button" class="btn btn-primary">Summary</a>
    </div>

    <div class="my-1">
        <a href="/task21" type="button" class="btn btn-primary">Task21</a>
    </div>

    <div class="my-1">
        <a href="/task22" type="button" class="btn btn-primary">Task22</a>
    </div>

    <div class="my-1">
        <a href="/task31" type="button" class="btn btn-primary">Task31</a>
    </div>

    <div class="my-1">
        <a href="/web" type="button" class="btn btn-primary">Web</a>
    </div>

    <div class="my-1">
        <a href="/work" type="button" class="btn btn-primary">Work</a>
    </div>

</div>

{{!-- Цей код містить лише те, що буде виводитись в

<body> --}}